USE [Historian1]
GO
/****** Object:  Table [dbo].[Artikli]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikli](
	[ArtikalID] [bigint] IDENTITY(1,1) NOT NULL,
	[Naziv] [nchar](50) NULL,
	[Cena] [decimal](10, 2) NULL,
	[IznosPopusta] [decimal](5, 2) NULL,
	[StanjeKolicina] [decimal](10, 0) NULL,
	[Dobavljac] [bigint] NULL,
 CONSTRAINT [PK_Artikli] PRIMARY KEY CLUSTERED 
(
	[ArtikalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dobavljaci]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dobavljaci](
	[DobavljacID] [bigint] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NULL,
	[Adresa] [nvarchar](50) NULL,
	[Grad] [nchar](50) NULL,
 CONSTRAINT [PK_Dobavljaci] PRIMARY KEY CLUSTERED 
(
	[DobavljacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racuni]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racuni](
	[RacunID] [bigint] IDENTITY(1,1) NOT NULL,
	[DatumIzdavanja] [date] NOT NULL,
	[DatumPrometa] [date] NULL,
	[Kupac] [nvarchar](100) NULL,
	[NacinPlacanja] [nvarchar](20) NULL,
	[Ukupno] [decimal](18, 2) NULL,
	[Porez] [decimal](18, 2) NULL,
	[UkupnoSaPorezom] [decimal](18, 2) NULL,
	[Status] [bigint] NULL,
	[Napomena] [nvarchar](255) NULL,
	[BrojRacuna] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Racuni] PRIMARY KEY CLUSTERED 
(
	[RacunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statusi]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statusi](
	[StatusID] [bigint] IDENTITY(1,1) NOT NULL,
	[Oznaka] [nchar](15) NULL,
 CONSTRAINT [PK_Statusi] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkeRacuna]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkeRacuna](
	[StavkaID] [bigint] IDENTITY(1,1) NOT NULL,
	[RacunID] [bigint] NOT NULL,
	[ArtikalID] [bigint] NOT NULL,
	[Kolicina] [decimal](10, 2) NOT NULL,
	[JedinicnaCena] [decimal](18, 2) NOT NULL,
	[PopustProcenat] [decimal](5, 2) NULL,
	[Ukupno] [decimal](18, 2) NULL,
 CONSTRAINT [PK_StavkeRacuna] PRIMARY KEY CLUSTERED 
(
	[StavkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artikli] ON 

INSERT [dbo].[Artikli] ([ArtikalID], [Naziv], [Cena], [IznosPopusta], [StanjeKolicina], [Dobavljac]) VALUES (1, N'Fotelja Mia                                       ', CAST(7590.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(23 AS Decimal(10, 0)), 1)
INSERT [dbo].[Artikli] ([ArtikalID], [Naziv], [Cena], [IznosPopusta], [StanjeKolicina], [Dobavljac]) VALUES (2, N'Ugaona garnitura Sara                             ', CAST(89999.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(5, 2)), CAST(21 AS Decimal(10, 0)), 1)
INSERT [dbo].[Artikli] ([ArtikalID], [Naziv], [Cena], [IznosPopusta], [StanjeKolicina], [Dobavljac]) VALUES (3, N'Plakar 3 vrata                                    ', CAST(29999.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(5, 2)), CAST(14 AS Decimal(10, 0)), 1)
SET IDENTITY_INSERT [dbo].[Artikli] OFF
GO
SET IDENTITY_INSERT [dbo].[Dobavljaci] ON 

INSERT [dbo].[Dobavljaci] ([DobavljacID], [Naziv], [Adresa], [Grad]) VALUES (1, N'Namestaj Pavlovic', N'Ive Andrica 7', N'Beograd                                           ')
INSERT [dbo].[Dobavljaci] ([DobavljacID], [Naziv], [Adresa], [Grad]) VALUES (2, N'Sara', N'Kosovska 258', N'Novi Pazar                                        ')
INSERT [dbo].[Dobavljaci] ([DobavljacID], [Naziv], [Adresa], [Grad]) VALUES (3, N'SjajLux', N'Filipa Visnjica bb', N'Smederevo                                         ')
SET IDENTITY_INSERT [dbo].[Dobavljaci] OFF
GO
SET IDENTITY_INSERT [dbo].[Racuni] ON 

INSERT [dbo].[Racuni] ([RacunID], [DatumIzdavanja], [DatumPrometa], [Kupac], [NacinPlacanja], [Ukupno], [Porez], [UkupnoSaPorezom], [Status], [Napomena], [BrojRacuna]) VALUES (1, CAST(N'2025-02-01' AS Date), CAST(N'2025-02-01' AS Date), N'Marko Markovic', N'Gotovina', CAST(178745.05 AS Decimal(18, 2)), CAST(35749.01 AS Decimal(18, 2)), CAST(214494.06 AS Decimal(18, 2)), 2, NULL, N'Racun-2025-001')
INSERT [dbo].[Racuni] ([RacunID], [DatumIzdavanja], [DatumPrometa], [Kupac], [NacinPlacanja], [Ukupno], [Porez], [UkupnoSaPorezom], [Status], [Napomena], [BrojRacuna]) VALUES (2, CAST(N'2025-03-11' AS Date), CAST(N'2025-03-11' AS Date), N'Ana Anic', N'Kartica', CAST(200992.10 AS Decimal(18, 2)), CAST(40198.42 AS Decimal(18, 2)), CAST(241190.52 AS Decimal(18, 2)), 2, NULL, N'Racun-2025-002')
INSERT [dbo].[Racuni] ([RacunID], [DatumIzdavanja], [DatumPrometa], [Kupac], [NacinPlacanja], [Ukupno], [Porez], [UkupnoSaPorezom], [Status], [Napomena], [BrojRacuna]) VALUES (3, CAST(N'2025-04-04' AS Date), CAST(N'2025-04-04' AS Date), N'Petar Petrovic', N'Gotovina', CAST(129995.05 AS Decimal(18, 2)), CAST(25999.01 AS Decimal(18, 2)), CAST(155994.06 AS Decimal(18, 2)), 2, NULL, N'Racun-2025-003')
SET IDENTITY_INSERT [dbo].[Racuni] OFF
GO
SET IDENTITY_INSERT [dbo].[Statusi] ON 

INSERT [dbo].[Statusi] ([StatusID], [Oznaka]) VALUES (1, N'Kreiran        ')
INSERT [dbo].[Statusi] ([StatusID], [Oznaka]) VALUES (2, N'Proknjizen     ')
INSERT [dbo].[Statusi] ([StatusID], [Oznaka]) VALUES (3, N'Storniran      ')
SET IDENTITY_INSERT [dbo].[Statusi] OFF
GO
SET IDENTITY_INSERT [dbo].[StavkeRacuna] ON 

INSERT [dbo].[StavkeRacuna] ([StavkaID], [RacunID], [ArtikalID], [Kolicina], [JedinicnaCena], [PopustProcenat], [Ukupno]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(10, 2)), CAST(15999.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(15999.00 AS Decimal(18, 2)))
INSERT [dbo].[StavkeRacuna] ([StavkaID], [RacunID], [ArtikalID], [Kolicina], [JedinicnaCena], [PopustProcenat], [Ukupno]) VALUES (2, 1, 5, CAST(1.00 AS Decimal(10, 2)), CAST(64999.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(61749.05 AS Decimal(18, 2)))
INSERT [dbo].[StavkeRacuna] ([StavkaID], [RacunID], [ArtikalID], [Kolicina], [JedinicnaCena], [PopustProcenat], [Ukupno]) VALUES (3, 1, 10, CAST(2.00 AS Decimal(10, 2)), CAST(13999.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(27998.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StavkeRacuna] OFF
GO
ALTER TABLE [dbo].[Racuni] ADD  CONSTRAINT [DF_Racuni_BrojRacuna]  DEFAULT ('') FOR [BrojRacuna]
GO
ALTER TABLE [dbo].[StavkeRacuna] ADD  DEFAULT ((0)) FOR [PopustProcenat]
GO
ALTER TABLE [dbo].[Artikli]  WITH CHECK ADD  CONSTRAINT [FK_Artikli_Dobavljaci] FOREIGN KEY([Dobavljac])
REFERENCES [dbo].[Dobavljaci] ([DobavljacID])
GO
ALTER TABLE [dbo].[Artikli] CHECK CONSTRAINT [FK_Artikli_Dobavljaci]
GO
ALTER TABLE [dbo].[Racuni]  WITH CHECK ADD  CONSTRAINT [FK_Racuni_Statusi] FOREIGN KEY([Status])
REFERENCES [dbo].[Statusi] ([StatusID])
GO
ALTER TABLE [dbo].[Racuni] CHECK CONSTRAINT [FK_Racuni_Statusi]
GO
ALTER TABLE [dbo].[StavkeRacuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkeRacuna_Artikli] FOREIGN KEY([ArtikalID])
REFERENCES [dbo].[Artikli] ([ArtikalID])
GO
ALTER TABLE [dbo].[StavkeRacuna] CHECK CONSTRAINT [FK_StavkeRacuna_Artikli]
GO
ALTER TABLE [dbo].[StavkeRacuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkeRacuna_Racuni] FOREIGN KEY([RacunID])
REFERENCES [dbo].[Racuni] ([RacunID])
GO
ALTER TABLE [dbo].[StavkeRacuna] CHECK CONSTRAINT [FK_StavkeRacuna_Racuni]
GO
/****** Object:  StoredProcedure [dbo].[pretragaRacuna]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pretragaRacuna]
	@NacinP nvarchar(20) = NULL,
    @DatumOd date = NULL,
    @DatumDo date = NULL,
    @IznosOd decimal(18,2) = null,
    @IznosDo decimal(18,2) = null
AS
 SELECT  RacunID,BrojRacuna,DatumIzdavanja,DatumPrometa,Kupac,NacinPlacanja,Ukupno,Porez,UkupnoSaPorezom,Statusi.Oznaka as Status,
Napomena FROM [Historian1].[dbo].[Racuni] left join Statusi on Racuni.Status = Statusi.StatusID
 where (1=1) 
 AND (@NacinP IS NULL OR NacinPlacanja = @NacinP)
  AND (@DatumOd IS NULL OR DatumIzdavanja >= @DatumOd)
  AND (@DatumDo IS NULL OR DatumIzdavanja <= @DatumDo)
  AND (@IznosOd IS NULL OR UkupnoSaPorezom >= @IznosOd)
  AND (@IznosDo IS NULL OR UkupnoSaPorezom <= @IznosDo)
GO
/****** Object:  Trigger [dbo].[TR_Racuni_InsteadOfDelete]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_Racuni_InsteadOfDelete]
ON [dbo].[Racuni]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RacunID bigint;
    DECLARE @BrojStavki int;
    DECLARE @Poruka nvarchar(4000);
    

    SELECT @RacunID = RacunID FROM deleted;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM Racuni WHERE RacunID = @RacunID)
        BEGIN
            SET @Poruka = 'Račun sa ID ' + CAST(@RacunID AS nvarchar) + ' ne postoji!';
            RAISERROR(@Poruka, 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        SELECT @BrojStavki = COUNT(*) FROM StavkeRacuna WHERE RacunID = @RacunID;
        
        UPDATE a
        SET a.StanjeKolicina = a.StanjeKolicina + sr.Kolicina
        FROM Artikli a
        INNER JOIN StavkeRacuna sr ON a.ArtikalID = sr.ArtikalID
        WHERE sr.RacunID = @RacunID;
 
        DELETE FROM StavkeRacuna
        WHERE RacunID = @RacunID;
        
        DELETE FROM Racuni
        WHERE RacunID = @RacunID;
        
        COMMIT TRANSACTION;
        
        PRINT 'Račun ' + CAST(@RacunID AS nvarchar) + ' uspešno obrisan. ' + 
              CAST(@BrojStavki AS nvarchar) + ' stavki obrađeno. Količine vraćene u artikle.';
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage nvarchar(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity int = ERROR_SEVERITY();
        DECLARE @ErrorState int = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
ALTER TABLE [dbo].[Racuni] ENABLE TRIGGER [TR_Racuni_InsteadOfDelete]
GO
/****** Object:  Trigger [dbo].[trg_Racuni_GenerisiBroj]    Script Date: 3/14/2026 8:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Racuni_GenerisiBroj]
ON [dbo].[Racuni]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Ubaci nove redove sa automatski generisanim brojevima
    INSERT INTO dbo.Racuni (
        BrojRacuna, DatumIzdavanja, DatumPrometa, Kupac, 
        NacinPlacanja, Ukupno, Porez, UkupnoSaPorezom, Status, Napomena
    )
    SELECT 
        -- Generiši broj na osnovu poslednjeg u godini
        'Racun-' + CAST(YEAR(i.DatumIzdavanja) AS NVARCHAR(4)) + '-' + 
        RIGHT('000' + CAST(
            ISNULL(
                (SELECT MAX(CAST(RIGHT(BrojRacuna, 3) AS INT)) 
                 FROM dbo.Racuni 
                 WHERE BrojRacuna LIKE 'Racun-' + CAST(YEAR(i.DatumIzdavanja) AS NVARCHAR(4)) + '-%'), 
                0) + 1 
            AS NVARCHAR(3)), 3),
        i.DatumIzdavanja, i.DatumPrometa, i.Kupac,
        i.NacinPlacanja, i.Ukupno, i.Porez, i.UkupnoSaPorezom, i.Status, i.Napomena
    FROM inserted i;
    
    -- Prikaži generisane brojeve (opciono)
    SELECT * FROM dbo.Racuni WHERE RacunID = SCOPE_IDENTITY();
END
GO
ALTER TABLE [dbo].[Racuni] ENABLE TRIGGER [trg_Racuni_GenerisiBroj]
GO
/****** Object:  Trigger [dbo].[TR_StavkeRacuna_InsteadOfInsert]    Script Date: 3/14/2026 8:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_StavkeRacuna_InsteadOfInsert]
ON [dbo].[StavkeRacuna]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ArtikalID bigint, @Kolicina decimal(10,2), @TrenutnoStanje decimal(10,2);
    DECLARE @RacunID bigint, @JedinicnaCena decimal(18,2), @PopustProcenat decimal(5,2), @Ukupno decimal(18,2);
    DECLARE @Poruka nvarchar(4000);
    SELECT 
        @RacunID = RacunID,
        @ArtikalID = ArtikalID,
        @Kolicina = Kolicina,
        @JedinicnaCena = JedinicnaCena,
        @PopustProcenat = ISNULL(PopustProcenat, 0),
        @Ukupno = Ukupno
    FROM inserted;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Artikli WHERE ArtikalID = @ArtikalID)
        BEGIN
            RAISERROR('Artikal ne postoji!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        SELECT @TrenutnoStanje = StanjeKolicina 
        FROM Artikli 
        WHERE ArtikalID = @ArtikalID;
        
        IF @TrenutnoStanje < @Kolicina
        BEGIN
            SET @Poruka = 'Nema dovoljno artikala na stanju! Stanje: ' + 
                          CAST(@TrenutnoStanje AS nvarchar) + 
                          ', traženo: ' + CAST(@Kolicina AS nvarchar);
            RAISERROR(@Poruka, 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        UPDATE Artikli 
        SET StanjeKolicina = StanjeKolicina - @Kolicina 
        WHERE ArtikalID = @ArtikalID;
        

        INSERT INTO StavkeRacuna (RacunID, ArtikalID, Kolicina, JedinicnaCena, PopustProcenat, Ukupno)
        VALUES (
            @RacunID,
            @ArtikalID,
            @Kolicina,
            @JedinicnaCena,
            @PopustProcenat,
            @Ukupno
        );
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage nvarchar(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity int = ERROR_SEVERITY();
        DECLARE @ErrorState int = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
ALTER TABLE [dbo].[StavkeRacuna] ENABLE TRIGGER [TR_StavkeRacuna_InsteadOfInsert]
GO
